[unstable-features]
build-std = ["core", "alloc"]
# build-std-config is only needed if you specifically target a single board in your config
# build-std-config = '{"target": "thumbv8m.main-none-eabihf"}'

[build]
target = "thumbv8m.main-none-eabihf" # This line is optional but helpful

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip RP2350A"
rustflags = [
  "-C", "link-arg=-Tlink.x",
]
