[unstable-features]
build-std = ["core", "alloc"]

[build]
target = "thumbv8m.main-none-eabihf"

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip RP2350A"
rustflags = [
  "-C", "link-arg=-Tlink.x",
  # Add the needed linker argument here:
  "-C", "link-arg=-nodefaultlibs",
]

# You can remove the separate [target.'...'.link-args] section entirely now
