name: Build Pico 2 W Rust Firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src, llvm-tools-preview
          targets: thumbv8m.main-none-eabihf
      - name: Clean build cache
        run: cargo clean
      - name: Build release
        # Set RUSTFLAGS explicitly here to ensure -nodefaultlibs is used
        run: cargo build --release --target thumbv8m.main-none-eabihf -Z build-std
        env:
          RUSTFLAGS: "-C link-arg=-nodefaultlibs -C link-arg=-Tlink.x"

